<html lang="nl">
    <head>
        <link rel="stylesheet" href="/css/style.css" />
        <title>Test 11ty</title>
        
    </head>
    <body>
        <header>
            <h1>{{title }} </h1>
        </header>
        <main>
            {{ content | safe}}
        </main>
    </body>
</html>
